*, *:after, *:before {
  box-sizing: border-box;
}

html, body {
  background-color: #FEFCF9;
  color: #111;
  font-size:  16pt;
  font-family: 'DM Mono', 'Courier New', CourierNew, Consolas, monospace;
  line-height: 1.3;
  margin: 2em auto;
  max-width: 768px;
  padding: 0 1em;
  overflow-x: hidden;
  text-overflow: hidden;
}

h1 {
  line-height: 1.1;
  margin:  0;
}

sup {
  vertical-align: top;
  font-size: 0.6em;
}

img {
  max-width: 100%;
  margin: 1em auto 0 auto;
}

div#napkin {
  background-color: white;
  padding: 0.5em;
  border: 1px black solid;
  margin: 1em auto;
}

div#napkin > p {
  margin:  0;
}

span.highlight {
  color: #f00;
}

footer > p {
  margin-top: 4em;
  font-size: 0.6em;
}

@media (max-width: 480px) {
  html, body {
    margin: 1em auto;
    padding: 0 0.5em;
  }
  div#napkin {
    font-size:  0.8em;
  }
}